{% extends '::base.html.twig' %}

{% block body %}
  <header>
    {% block f_header %}{% endblock %}
  </header>

  <div class="f-body">
    {% block f_body %}{% endblock %}
  </div>

  <footer>
    {% block f_footer %}{% endblock %}
  </footer>
{% endblock %}
